In [1]:
import pandas as pd, requests
from bs4 import BeautifulSoup

In [2]:
# url = 'https://waterdata.usgs.gov/wa/nwis/uv?cb_all_=on&cb_00060=on&cb_00065=on&format=rdb&site_no=12194000&period=&begin_date=2020-01-31&end_date=2020-02-16'

# res = requests.get(url)

# res.status_code

# con_soup = BeautifulSoup(res.content, 'html')

# con_table_body = con_soup.find('body')
# waters = []
# for row in con_table_body.find('pre')
#     water = {}
#     water['date/time'] = row.find('td').text
#     water['discharge'] = row.find('span').text
#     water['gauge_h'] = row.find_all('span').text
#     waters.append(water)

#     print(water)
# con_df = pd.DataFrame(waters)

# con_table_body.save('concrete.txt')

In [3]:
with open('con.txt', 'r') as f:
    text = f.readlines()

In [13]:
con = pd.read_csv('con.txt', sep = '\t')
mv = pd.read_csv('mv.txt', sep = '\t')

In [14]:
con.head()

,agency_cd,city,datetime,timezone,discharge,151437_00060_cd,gauge_lvl,151438_00065_cd
0,USGS,12194000,2020-01-31 00:00,PST,19000,P,19.68,P
1,USGS,12194000,2020-01-31 00:05,PST,19000,P,19.67,P
2,USGS,12194000,2020-01-31 00:10,PST,18900,P,19.65,P
3,USGS,12194000,2020-01-31 00:15,PST,18900,P,19.66,P
4,USGS,12194000,2020-01-31 00:20,PST,19100,P,19.70,P

In [15]:
con.dtypes

agency_cd           object
city                 int64
datetime            object
timezone            object
discharge            int64
151437_00060_cd     object
gauge_lvl          float64
151438_00065_cd     object
dtype: object

In [16]:
mv.head()

,agency_cd,city,datetime,timezone,discharge,151445_00060_cd,gauge_lvl,151446_00065_cd,151448_00010,151448_00010_cd
0,USGS,12200500,2020-01-31 00:00,PST,24700,P,18.24,P,5.6,P
1,USGS,12200500,2020-01-31 00:15,PST,24800,P,18.26,P,5.6,P
2,USGS,12200500,2020-01-31 00:30,PST,24700,P,18.22,P,5.6,P
3,USGS,12200500,2020-01-31 00:45,PST,24700,P,18.22,P,5.6,P
4,USGS,12200500,2020-01-31 01:00,PST,24700,P,18.22,P,5.6,P

In [17]:
mv.dtypes

agency_cd           object
city                 int64
datetime            object
timezone            object
discharge            int64
151445_00060_cd     object
gauge_lvl          float64
151446_00065_cd     object
151448_00010       float64
151448_00010_cd     object
dtype: object

In [18]:
con = con.drop(['agency_cd', '151437_00060_cd', '151438_00065_cd'], axis = 1)

In [19]:
con.head()

       city          datetime timezone  discharge  gauge_lvl
0  12194000  2020-01-31 00:00      PST      19000      19.68
1  12194000  2020-01-31 00:05      PST      19000      19.67
2  12194000  2020-01-31 00:10      PST      18900      19.65
3  12194000  2020-01-31 00:15      PST      18900      19.66
4  12194000  2020-01-31 00:20      PST      19100      19.70

In [20]:
con['city'] = con['city'].replace(12194000, 'Concrete')

In [21]:
con.head()

       city          datetime timezone  discharge  gauge_lvl
0  Concrete  2020-01-31 00:00      PST      19000      19.68
1  Concrete  2020-01-31 00:05      PST      19000      19.67
2  Concrete  2020-01-31 00:10      PST      18900      19.65
3  Concrete  2020-01-31 00:15      PST      18900      19.66
4  Concrete  2020-01-31 00:20      PST      19100      19.70

In [23]:
mv = mv.drop(['agency_cd', '151445_00060_cd', '151446_00065_cd','151448_00010', '151448_00010_cd'], axis = 1)

In [24]:
mv.head()

       city          datetime timezone  discharge  gauge_lvl
0  12200500  2020-01-31 00:00      PST      24700      18.24
1  12200500  2020-01-31 00:15      PST      24800      18.26
2  12200500  2020-01-31 00:30      PST      24700      18.22
3  12200500  2020-01-31 00:45      PST      24700      18.22
4  12200500  2020-01-31 01:00      PST      24700      18.22

In [25]:
mv['city'] = mv['city'].replace(12200500, 'Mount Vernon')

In [26]:
mv.head()

           city          datetime timezone  discharge  gauge_lvl
0  Mount Vernon  2020-01-31 00:00      PST      24700      18.24
1  Mount Vernon  2020-01-31 00:15      PST      24800      18.26
2  Mount Vernon  2020-01-31 00:30      PST      24700      18.22
3  Mount Vernon  2020-01-31 00:45      PST      24700      18.22
4  Mount Vernon  2020-01-31 01:00      PST      24700      18.22

In [27]:
mv.to_csv('mount_vernon.csv', index = False)

In [28]:
con.to_csv('concrete.csv', index = False)